<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="shvCallBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="shvCallBook.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <shvCallBook.Properties.Settings>
            <setting name="PathSelectCallsignFile" serializeAs="String">
                <value />
            </setting>
        </shvCallBook.Properties.Settings>
        <shvCallBook.Properties>
            <setting name="PathSelectMylogFile" serializeAs="String">
                <value />
            </setting>
        </shvCallBook.Properties>
    </userSettings>
</configuration>